
.footer {
    /*margin: 20px;*/
    text-align: center;
    background-color: #111;
    color: #eee;
    padding: 20px 0 70px 0;
    margin-top: 100px;
}

.thumbnail {
    height: 420px;
}

.header1 {
    position: relative;
    margin-bottom: 20px;
}
.navbar {
    position: absolute;
    right: 10%;
    top: 40%;
}
.navbar li {
    list-style: none;
    display: inline;
    font-size: 20px;
    margin: 20px;
    font-family: 'Oxygen', sans-serif;
}
.navbar a {
    color: black;
}

.title {
    font-family: 'Courgette', cursive;
    display: inline;
    position: relative;
    top: 15px;
}

.icon1 {
    display: inline;
    width: 75px;
}

.artwork-description {
    text-align: justify;
}

.artwork-picture {
    width: 100%;
    margin: 50px 0 0 0;
    padding-left: 70px;
}

.artwork-text1 {
    margin: 0 0 50px 70px;
    font-size: 20px;
}